.paginationPages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
  list-style: none;
  position: fixed;
  font-family: "Space Grotesk", regular;

  width: 100vw;
  text-align: center;
}

.paginationNav {
  display: flex;
  align-items: flex-start;
  list-style: none;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: auto;
  text-align: center;
  font-family: "Space Grotesk", regular;
}

.paginationText:hover {
  cursor: pointer;
  font-family: "Space Grotesk", regular;
}

.paginationNum {
  margin: 10px;
  padding-bottom: 40px;
  font-family: "Space Grotesk", regular;
  list-style: none;
  text-align: center;
}

.paginationText {
  text-align: center;
  display: flex;
  font-family: "Space Grotesk", regular;
  font-weight: bold;
  padding-left: 0 !important;
  width: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  list-style: none;
}

.paginationText ul {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.paginationNum :hover {
  cursor: pointer;
}
