.storyBox {
  background-color: #fff;
  border-radius: 5px;
  height: 45vh;
  padding: 1px;
  width: 20vw;
  margin: 1.5vw;
  margin-top: 1.5vw;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: "Mona-Sans Regular", sans-serif;
}

.storyBoxAnim {
  background-color: #fff;
  border-radius: 10px;
  /* height: 30vh; */
  /* padding: 1px; */
  width: 20vw;
  margin: 1.5vw;
  margin-top: 1.5vw;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: "Comic Sans MS", sans-serif;
}

.imgAndSlug {
  display: grid;
  grid-template-areas: "content-2 content-3";
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  border: 0;
}

.imgAndSlugDiaries {
  height: 100%;
}

.indivName {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem !important;
  font-weight: bold;
  text-align: center;

  font-family: "Space Grotesk", sans-serif;
}
.indivNameAnim {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  font-weight: bold;
  padding-top: 5px;
  text-align: center;

  font-family: "Comic Sans MS", sans-serif;
}
.storyBoxGrey {
  background-color: rgb(149, 149, 149) !important;
}

.storyBox:hover {
  cursor: pointer;
  background-color: white;
}

.indivImage {
  overflow: hidden;
  width: 20vw;
  height: 20vh;
  max-width: 100%;
  background-color: white;
  grid-area: content-2;
  object-fit: cover;
}

.indivImageAnim {
  overflow: hidden;
  width: 20vw;
  height: 25vh;
  max-width: 100%;
  background-color: white;
  grid-area: content-2;
  object-fit: cover;
  border-radius: 7px;
}

.indivImageDiaries {
  overflow: hidden;
  width: 25vw;
  height: 35vh;
  max-width: 100%;
  background-color: white;
  grid-area: content-2;
  object-fit: cover;
}

.indivSlug {
  font-family: "Mona-Sans Regular", sans-serif;
  grid-area: content-3;
  margin-left: 0.5rem;
  margin-right: 1rem;
  width: 10vw;
  height: 14vh;
  margin-top: 30px;
  overflow: scroll;
}

.bottomDesc {
  margin: 1rem;
  font-family: "Mona-Sans Regular", sans-serif;
}

@media only screen and (max-width: 1000px) {
  .storyBox {
    width: 40vw !important;
  }
  .indivImage {
    width: 100% !important;
    height: 20vh !important;
  }
  .imgAndSlug {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
  }
  .magnifyingGlass {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .storyBox {
    height: 40vh !important;
    padding: 1px;
    width: 70vw !important;
  }

  .storyBoxAnim {
    height: 40vh !important;
    padding: 1px;
    width: 70vw !important;
  }

  .imgAndSlug {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
  }

  .indivImage {
    width: 100% !important;
    height: 20vh !important;
  }

  .indivImageAnim {
    width: 100% !important;
    height: 100% !important;
  }
}
