.infoMainDiaries {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.infoH1Diaries {
  margin-top: 0;
  font-family: grotesk;
}

.infoPDiaries {
  font-family: grotesk;
}
