.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  margin-bottom: 1.2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  z-index: 9;
  font-family: "Space Grotesk", regular;
}

.navLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 3vh;
  width: 25%;
}

.categoryBut {
  height: 3.5vh;
  width: 3vw;
  margin: 5px;
  color: #000;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.categoryBut:hover {
  cursor: pointer;
}

.navdiv2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  z-index: 9;
  font-family: "Space Grotesk", regular;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1121212121211212312312312312312312121; /* Sit on top */

  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  align-content: flex-end;
  justify-content: flex-start;
}

.fullPage {
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
}

.modalShow {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 123123123123121232192394923949239410101010010101010; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  margin-top: 0;
}

.noModal {
  display: none;
  justify-content: flex-end;
}

.innerModal {
  width: 30%;
  height: 100vh;
  background-color: #258ea6;

  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 100px; */
  z-index: 1121212121211212312312312312312312121; /* Sit on top */
}

.innerText {
  display: flex;
  justify-content: flex-end;
  font-family: "Mona-Sans Regular", sans-serif;
  margin: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.innerText:hover {
  cursor: pointer;
}

.innerTextInfo {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: flex-start;
  margin-top: 1vh;
  overflow: scroll;
  height: 90%;
  width: 100%;
  padding-left: 20px;
}

.infobutton:hover {
  cursor: pointer;
}

.crossImg:hover {
  transform: scale(1.2);
}

.burger {
  margin: 20px;
}
.hoverNav {
  display: flex;
}

.menus {
  display: flex;
  flex-direction: row;
  width: 25%;
  align-items: center;
  padding-right: 20px;
  justify-content: flex-end;
  font-family: "Mona-Sans Regular", sans-serif;
  font-weight: bold;
}

.hoverNav:hover {
  cursor: pointer;
}
.hoverNavCym:hover {
  cursor: pointer;
}
.cpyrght {
  align-self: baseline;
  margin: auto;
  font-size: small;
  font-family: "Space Grotesk", regular;
}

.hoverNavCym {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notesH2 {
  font-weight: bold;
  color: #fff;
  /* padding-left: 10px; */
  font-family: "Space Grotesk", regular;
  font-size: xx-large;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

.notesH2:hover {
  cursor: pointer;
}

.notesP {
  font-family: "Mona-Sans Regular", sans-serif;
  text-align: flex-start;
  margin-left: 20px;
  margin-right: 20px;
}

.translateImg {
  object-fit: cover;
  height: 3.5vh;
  width: 3vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-size: cover;
}

.homebutton {
  border: 1px solid black;
  height: 3vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  transform: scale(1.5);
  width: 50px;
  font-family: "Open Sans", sans-serif;
  z-index: 9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.infobutton {
  border: 1px solid black;
  color: white;
  background-color: #fff;
  border-radius: 25px;
  transform: scale(1.5);
  font-family: "Mona-Sans Regular", sans-serif;
  z-index: 9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 3vh;
}

.homebutton:hover {
  cursor: pointer;
  color: #258ea6;
  background-color: white;
  z-index: 9;
}

.logoWG {
  transform: scale(0.5);
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .innerModal {
    width: 90%;
  }

  .translateImg {
    width: 40px;
  }
  .categoryBut {
    width: 40px;
  }
}
