.notesH1 {
  font-family: sassoon;
  margin-top: 0;
}

.notesMain {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.notesP {
  font-family: sassoon;
  width: 50%;
}
