.personBox {
  display: flex;
  z-index: 9;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  font-family: sassoon;
}

.discPoints {
  /* display: flex; */
  font-size: larger;
  grid-area: 2 / 1 / 3 / 3;
  width: 90%;
  /* text-align: center; */
  height: 100%;
  overflow: scroll;
}

.discBPs {
  margin: 10px;
}

.discPoints::-webkit-scrollbar-track {
  border-radius: 10px;
}

.discPoints::-webkit-scrollbar {
  width: 5px;
}

.discPoints::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #258ea6;
}

.discH1 {
  margin-top: 0;
  font-weight: bold;

  text-align: center;
}
.resourceText {
  margin: 0;
  padding-top: 3px;
  margin-left: 5px;
  margin-right: 5px;
}
.resourceBanner {
  position: fixed;
  max-width: 29.5%;
  border-radius: 5px;
  font-weight: bold;
  margin: 20px;
  padding: 5px;
  background-color: #258ea6;
  color: #f2f2f2;
  z-index: 10000000000000000000;
}
.resourceBannerPodcast {
  position: fixed;
  font-weight: bold;

  max-width: 29.5%;
  border-radius: 5px;
  margin: 15px;
  margin-left: 30px;
  padding: 5px;
  background-color: #258ea6;
  color: #f2f2f2;
  z-index: 10000000000000000000;
}

.scroll {
  position: s;
}

.podcastImgOverlay:hover {
  cursor: pointer;
}

.podcastImgOverlay {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  align-items: center;
  margin: auto;
  z-index: 1000000000000;
  object-fit: cover;
  width: 35%;
  z-index: 1;

  height: 50%;
  /* background-color: black; */
  background-image: url("https://dev.addysgop.co.uk/pdfs/theo.jpg");
  background-size: cover;
  color: white;
}

.podcastImgOverlay2:hover {
  cursor: pointer;
}

.podcastImgOverlay2 {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  align-items: center;
  margin: auto;
  z-index: 1000000000000;
  object-fit: cover;
  width: 35%;
  height: 50%;
  z-index: 1;
  /* background-color: black; */
  background-image: url("https://www.peoplescollection.wales/sites/default/files/images/2014/February/60880_Anti-segregation%20march%201948%20R144.JPG?itok=9kFJWPzr");
  background-size: cover;
  color: white;
}

.podcastImgOverlay3 {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  align-items: flex-end;
  margin: auto;
  z-index: 1000000000000;
  object-fit: cover;
  width: 35%;
  height: 50%;
  z-index: 1;
  /* background-color: black; */
  background-image: url("https://dev.addysgop.co.uk/pdfs/Mirain.jpeg");
  background-size: cover;
  color: white;
}

.podcastImgOverlayDom {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  align-items: flex-end;
  margin: auto;
  z-index: 1000000000000;
  object-fit: cover;
  width: 35%;
  height: 50%;
  z-index: 1;
  /* background-color: black; */
  background-image: url("https://dev.addysgop.co.uk/pdfs/domJamesPic.jpg");
  background-size: cover;
  color: white;
}

.ImgOverlayHanan {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  align-items: flex-end;
  margin: auto;
  z-index: 1000000000000;
  object-fit: cover;
  width: 35%;
  height: 50%;
  z-index: 1;
  /* background-color: black; */
  background-image: url("https://www.dev.addysgop.co.uk/pdfs/hanan.png");
  background-size: cover;
  color: white;
}

.personH2 {
  margin: 0;
  font-family: sassoon;
  font-size: larger;
}
.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
}
.personInfo {
  background-color: white;
  border-radius: 10px !important;
  width: 75vw;
  height: 75vh !important;
  z-index: 9;
  align-items: center;
  font-size: large;
  justify-items: center;
  font-family: sassoon;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.personInfoBack {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: white;
  font-family: sassoon;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  width: 75vw;
  height: 75vh !important;
  z-index: 9;
  align-items: flex-start;
  padding: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  justify-items: center;
}

.backToSection {
  text-align: center !important;
  display: flex;
  justify-content: center;
  /* padding: 2rem; */
}

.backToButton {
  border: 1px solid #258ea6;
  background-color: #258ea6;
  margin: 1rem;
  padding: 5px;
  color: #f2f2f2;
  border-radius: 10px;
  font-size: larger;
  /* width: 3vw; */
}
.overlayUnderText {
  text-align: center;
  margin: 5px;
  max-width: 80%;
  /* margin-top: 10px; */
  height: 4vh;
  margin-left: 15px;
}

.flipMobile {
  display: none;
  font-family: sassoon;
}

.personName {
  font-weight: bold;
  font-family: sassoon;
  font-size: x-large !important;
}
.rightSide {
  overflow: scroll;
  height: 90%;
  margin: 10px;
  /* width: 42vw; */
  font-family: sassoon;
  overflow-y: auto;
  overflow-x: hidden;
}

.rightSide::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

.rightSide::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.rightSide::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #258ea6;
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sassoon;
  /* border: 1px solid black; */
  width: 30vw;
}
.personText {
  display: flex;
  flex-direction: column;
  font-family: sassoon;
}

.personText li {
  padding: 0.5rem;
  font-family: sassoon;
}

.wholePage {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform-style: preserve-3d;
}

.prevnext {
  transform: scale(3);
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-family: "Futura", sans-serif;
  z-index: 9;
}
.prevnextpulse {
  transform: scale(3);
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-family: "Futura", sans-serif;
  z-index: 9;
  animation: pulse 3s;
  animation-iteration-count: 5;
}
.prevnextInvis {
  transform: scale(3);
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-family: "Futura", sans-serif;
  z-index: 9;
}

@keyframes pulse {
  0% {
    transform: scale(2.5);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }

  50% {
    transform: scale(3);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  }

  100% {
    transform: scale(2.5);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }
}
.backLeft {
  height: 40vh;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: sassoon;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
}

.backLeftYTVid {
  width: 37vw;
  height: 45vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: sassoon;
  flex-direction: column;
  border-radius: 15px;
}

.courtesyText {
  margin: 0;
  padding-top: 10px;
}

.resourceLi {
  height: auto;
}

.dontShowQuizBut {
  display: none;
}

.quizButton:hover {
  cursor: pointer;
  background-color: #fff;
  color: #258ea6 !important;
}

.quizH2 {
  text-align: center;
  font-weight: normal;
}

.backLText {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-direction: column;
  border-radius: 15px;
  padding: 10px;
  height: 100%;
  width: 80%;
  font-family: sassoon;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.youtubeEmbed {
  display: flex;
  justify-content: center;
  border-radius: 7px;
  object-fit: contain;
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
}

.backLVid {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-direction: column;
  border-radius: 15px;
  padding: 10px;
  height: 80%;
  width: 90%;
  font-family: sassoon;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backRight {
  width: 100%;
  /* height: 100%; */
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-weight: bold;
  font-family: sassoon;
  font-size: large;
  text-align: start;
  border-radius: 15px;
}

.backRightP {
  margin-left: 1rem;
  font-family: sassoon;
}
.resourceLi {
  padding: 10px;
  list-style: none;
  font-size: smaller;
  font-family: sassoon;
}

.resourceHref {
  color: #258ea6;
}

.linkLi {
  padding-bottom: 10px;
}

.prevnextBlocked {
  transform: scale(3);
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-family: "Futura", sans-serif;
  z-index: 0;
  color: rgb(114, 114, 114);
  opacity: 0;
}

.prevnextBlocked:hover {
  cursor: auto;
}

.prevnext:hover {
  cursor: pointer;
}

.personImg {
  width: 70%;
  height: 50vh;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  object-fit: cover;
}

.backButton {
  display: flex;
}

.personShortSlug {
  text-align: center;
  margin-top: 10px;
  width: 70%;
  height: 10vh;
}

@media only screen and (max-width: 500px) {
  .personInfoBack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: auto !important;
    width: 85vw;
  }
  .wholePage {
    display: grid !important;
    grid-template-columns: 1fr;
  }
  .backLText {
    width: 90%;
    height: auto;
  }
  .backLeft {
    width: 100%;
    align-items: center;
  }

  .prevnext {
    grid-area: 3 / 1 / 4 / 6;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 1450px) {
  .backLeft {
    width: 40vw;
  }
}

@media only screen and (max-width: 600px) {
  .backLeftYTVid {
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
  }

  .backLVid {
    display: flex;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
  }
  .personText ul {
    list-style: none;
    padding: 10px;
  }

  .rightSide {
    overflow: visible;
    list-style: none !important;
  }

  .flipMobile {
    display: flex;
  }

  .flipImg {
    transform: scale(2);
  }
  .personShortSlug {
    height: auto;
  }

  .backLeft {
    width: 100%;
  }

  .wholePage {
    display: grid !important;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .prevnextBlocked {
    display: none;
  }

  .prevnext {
    grid-area: 3 / 1 / 4 / 6;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 1215px) {
  .personH2 {
    font-size: x-large;
  }
}

@media only screen and (max-width: 800px) {
  .prevnextBlocked {
    display: none;
  }
  .personInfoBack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: auto !important;
    width: 85vw;
  }
  .prevnext {
    z-index: 11111212121;
  }

  .personInfo {
    display: flex;
    flex-direction: column;
    height: auto !important;
    padding: 0 !important;
    box-shadow: none;
  }
  .personText ul {
    list-style: none;
    padding: 10px;
  }

  .backLeft {
    width: 100%;
  }

  .backLText {
    width: 80vw;
  }

  .leftSide {
    width: 100%;
  }

  .imgBox {
    width: 70vw !important;
  }

  .personName {
    text-align: center;
  }
  .personImg {
    height: 100%;
  }
  .rightSide {
    overflow: visible;
    list-style: none !important;
  }
  .flipMobile {
    display: flex;
  }

  .flipImg {
    transform: scale(2);
  }
  .personShortSlug {
    height: auto;
  }
}

@media only screen and (max-width: 850px) and (max-height: 590px) {
  .personH2 {
    font-size: medium;
  }
}
