body {
  margin: 0;
  font-family: "Futura Medium", sans-serif;
  background-color: #f4faff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: #DBFCFF; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
