table {
  font-family: "Mona-Sans Regular", sans-serif;
  /* height: 70%; */
  border-collapse: collapse;
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}

th {
  text-align: left;

  padding: 10px;
  /* width: 20vw; */
}
td {
  text-align: left;
  padding: 10px;
  width: 30vw;
  border-bottom: 0.5px solid black;
}
