table {
  font-family: "Mona-Sans Regular", sans-serif;
  /* height: 70%; */
  border-collapse: collapse;
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}

.indexContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  z-index: 9;
  overflow: scroll;
  height: 70vh;
}
.indexText {
  margin-bottom: 0;
  margin-top: 0;
}
th {
  text-align: left;

  padding: 10px;
  /* width: 20vw; */
}
td {
  text-align: left;
  padding: 10px;
  width: 30vw;
  border-bottom: 0.5px solid black;
}
